@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a1a1a;
}
.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.leaflet-control-layers-toggle {
  width: 32px !important;
  height: 32px !important;
}
.leaflet-control-layers-expanded {
  padding: 6px 10px !important;
  font-size: 11px !important;
  min-width: 140px;
}
#popup {
  font-size: 9pt;
  line-height: 1.2;
}
#popup span{
  color: #555;
}
#popup strong {
  font-size: 14px; 
  color: #111;
}
.control-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 15px;
  right: 15px;
  padding: 5px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.445);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.control-panel label {
  font-family: "Google Sans Code", monospace;
  font-size: 12pt;
  font-weight: bold;
}
.control-panel select {
  font-family: "Google Sans Code", monospace;
  background: #404b5a;
  outline: none;
  color: #eceff1;
  padding: 6px 8px;
  font-size: 10pt;
  border-radius: 4px;
  cursor: pointer;
}
.mode-toggle label {
  font-size: 9pt;
  color: #eceff1;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}
.mode-toggle input[type="checkbox"] {
  accent-color: #00e5ff;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.btn-clear {
  background: #f44336;
  font-family: "Google Sans Code", monospace;;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 10pt;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-clear:hover {
  background: #d32f2f;
}
